* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: grey;
}

.page {
  clear: both;
}

/* navbar */
#navbar {
  font-size: 0.8rem;
  background-color: black; /* Black background color */
  position: sticky; /* Make it stick/fixed */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar a {
  display: flex;
  align-content: row;
  justify-content: space-around;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-title {
  display: flex;
  color: white;
  padding-left: 0.5rem;
}

.nav-menu {
  display: flex;
  color: white;
  justify-content: flex-end;
}

/*container*/

.content-container {
  padding-top: 2.5%;
  flex-direction: column;
  display: flex;
}

.card {
  margin: auto;
  background-color: white;
  margin-bottom: 100px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  height: fit-content;
  width: 40rem;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.card-content {
  margin: 1rem 1rem;
}

.code-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.code-block {
  width: fit-content;
  overflow: hidden;
}

.card-title {
  margin-bottom: 0.8rem;
}
